%h2 Feedback Response

%p
  %h4 All Finished!
  Thank you for your time and input.  Here's what you had to say:

  - @response.answers.each do |answer|
    %ul
      %li
        .question= answer.question.blurb
        .answer=   answer.blurb
