%h2 Feedback Time

%p
  - if @response.next_question.nil?
    %h4 All Finished!
    Thank you for your time and input
  - else
    = "You have answered #{@response.answers.count} out of #{Question.count} questions, ready for"
    = link_to('more?', new_response_answer_path(@response))
